<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773031169627-h699pn9vkoei235vo9ki343ikulg2vfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773031169627-h699pn9vkoei235vo9ki343ikulg2vfc</string>
	<key>API_KEY</key>
	<string>AIzaSyCmQLKe2h_x8m1ZdpRWpEgRsXkUdlEiK6U</string>
	<key>GCM_SENDER_ID</key>
	<string>773031169627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.biketogether</string>
	<key>PROJECT_ID</key>
	<string>biketogether-ids</string>
	<key>STORAGE_BUCKET</key>
	<string>biketogether-ids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773031169627:ios:3d99b66fae3adfb8e8b97e</string>
	<key>DATABASE_URL</key>
	<string>https://biketogether-ids-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>